{% extends 'base.html.twig' %}

{% block title %}Alumni Association | Members{% endblock %}

{% block body %}
	<div class"appear">
		<h1>Our Members</h1>
		<div class="row">
			{% for user in users %}
				<div class="col-12 col-sm-6 col-lg-4 p-3">
					<div class="card bg-light alumni p-2 d-flex flex-row">
						<div class="w-50 p-1">
							<div class="alumni-thumb">
								<img src="{{ asset('img/profile_pictures/' ~ user.image) }}">
							</div>							
						</div>
						<div class="w-50 p-1">
							{% if is_granted('ROLE_ALUMNI') or is_granted('ROLE_ADMIN') %}
								<h3 class="alumni">{{user.firstName}}<br>{{user.lastName}}</h3>
							{% else %}
								<h3 class="alumni">{{user.firstName}}</h3>
							{% endif %}
							
							<a href="/alumni/profile={{user.id}}" class="btn btn-success btn-sm stretched-link">See personal profile</a>
						</div>
						{% if not user.hasJob %}
							<div class="job-search-label">
								<span class='span-card text-white badge trans bg-danger'>
									<i class="fa fa-tag"></i> Searching job
								</span>							
							</div>
						{% endif %}
					</div>
				</div>				
			{% endfor %}
		</div>
	</div>
	<style type="text/css">
		.job-search-label{
			position: absolute;
			top: 80%;
			left: 1em;
			z-index: 999;
		}
	</style>
{% endblock %}