{% extends 'base.html.twig' %}

{% block title %}Edit Profile | {{user.firstName}}{{user.lastName}}{% endblock %}

{% block body %}
	
	{% if (app.user.id == user.id) %}
		{{ form_start(form) }}
			<div class="card bg-light p-2 text-center mb-4">
		      <h1>{{ form_widget(form.firstName) }} {{ form_widget(form.lastName) }}</h1>
		    </div>
		    
		    <div class="card bg-light p-2 mb-4">
		    	<div class="row no-gutters mb-4">
			        <div class="col-12 col-md-2 p-2">
			          <p class="text-uppercase"><b>Personal information:</b></p>
			        </div>
			        <div class="col-12 col-md-8 p-2">
			          <p> E-mail:<span class="font-italic">{{ form_widget(form.email)}} </span> </p>
			          <p> Telephone:<span class="font-italic">{{ form_widget(form.tel)}}</span></p>
			          <br>
			          <p> Date of birth:<span class="font-italic">{{ form_widget(form.birth)}}</span> </p>
			          <p> Nationality:<span class="font-italic">{{ form_widget(form.nation)}}</span></p>
			        </div>
			        <div class="col-12 col-md-2 p-2 d-none d-md-block">
			          <img src="{{ asset('img/profile_pictures/' ~ user.image) }}" class="img-fluid">
			        </div>
			    </div>

			    <div class="row no-gutters mb-4">
			        <div class="col-12 col-md-2 p-2">
			          <p class="text-uppercase"><b>Course:</b></p>
			        </div>
			        <div class="col-12 col-md-8 p-2">
			          <p> Course/es:<span class="font-italic">{{ form_widget(form.course)}}</span></p>
			          <p> Other skills:<span class="font-italic">{{ form_widget(form.skills)}}</span> </p>
			          <p> Github repository:<span class="font-italic"><a href="{{user.github}}">{{ form_widget(form.github)}}</a></span></p>
			        </div>
			        <div class="col-12 d-md-none">
			        	<p class="text-center">{{ form_widget(form.descr)}}</p>
			        </div>
			        <div class="col-12 col-md-2 p-2" >
			          {{ form_widget(form.save)}}
			        </div>
			    </div>

			    <div class="row no-gutters text-center">
			    	<p class="text-center"><span class="font-italic">{{ form_widget(form.descr)}}</span></p>
			    </div>
			</div>

		{{ form_end(form) }}
	{% endif %}

{% endblock %}