{% extends 'base.html.twig' %}

{% block title %}Alumni | {{user.firstName}}{{user.lastName}}{% endblock %}

{% block body %}
	
	<p>Hi, {{current.username}}</p>
	<p>I am {{user.username}}</p>
	<p>Email: {{user.email}}</p>
	<p>Full name: {{user.firstName}} {{user.lastName}}</p>

	{% if (app.user.id == user.id) %}
		<a href="/alumni/profile={{user.id}}/edit" class="btn btn-primary">Edit</a>
	{% endif %}

{% endblock %}