{% extends 'base.html.twig' %}

{% block title %}Alumni | {{user.firstName}}{{user.lastName}}{% endblock %}

{% block body %}
	
	<p>Hi</p>
	<p>I am {{user.username}}</p>
	<p>Email: {{user.email}}</p>

	<br>
	<br>
	<br>
	<p>User {{current}} looking on this profile</p>

{% endblock %}