{% extends 'base.html.twig' %}

{% block title %}Alumni | {{user.firstName}}{{user.lastName}}{% endblock %}

{% block body %}

    <div class="card bg-light p-2 text-center mb-4">
      <h1>{{user.firstName}} {{user.lastName}}</h1>
    </div>
    
    <div class="card bg-light p-2 mb-4">
      <div class="w-50 mx-auto d-md-none">
        <img class="img-fluid" src="{{ asset('img/profile_pictures/' ~ user.image) }}">        
      </div>
      
      <div class="row no-gutters mb-4">
        <div class="col-12 col-md-2 p-2">
          <p class="text-uppercase"><b>Personal information:</b></p>
        </div>
        <div class="col-12 col-md-8 p-2">
          <p> E-mail:<span class="font-italic"> {{user.email}} </span> </p>
          <p> Telephone:<span class="font-italic"> {{user.tel}}</span></p>
          <br>
          <p> Date of birth:<span class="font-italic">{{ user.birth| date('j. F Y ') }}</span> </p>
          <p> Nationality:<span class="font-italic">{{user.nation}}</span></p>
        </div>
        <div class="col-12 col-md-2 p-2 d-none d-md-block">
          <img src="{{ asset('img/profile_pictures/' ~ user.image) }}" class="img-fluid">
        </div>
      </div>
      
      <div class="row no-gutters">
        <div class="col-12 col-md-2 p-2">
          <p class="text-uppercase"><b>Course:</b></p>
        </div>

        <div class="col-12 col-md-8 p-2">
          <p> Course/es:<span class="font-italic"> {{user.course}}</span></p>
          <p> Other skills:<span class="font-italic"> {{user.skills}}</span> </p>
          <p> Github repository:<span class="font-italic"><a href="{{user.github}}"> {{user.github}}</a></span></p>
        </div>
        
        <div class="col-12 text-center p-2 d-md-none">
          <p class="text-center font-italic">{{user.descr}}</p>
        </div>

        <div class="col-12 col-md-2 p-2" >
          {% if (app.user.id == user.id) %}
            <a href="/alumni/profile={{user.id}}/edit" class="btn btn-outline-dark w-100">Edit</a>
          {% endif %}
        </div>
      </div>
    </div>
    
    <div class="card bg-light text-center mb-4 d-none d-md-block">
      <p class="text-center font-italic">{{user.descr}}</p>
    </div>
{% endblock %}