{% extends 'base.html.twig' %}

{% block title %}Edit Profile | {{user.firstName}}{{user.lastName}}{% endblock %}

{% block body %}
	
	{% if (app.user.id == user.id) %}
		{{ form_start(form) }}
			<div class="card bg-light p-2 text-center mb-4">
				<div class="row">
					<div class="col">
						{{ form_widget(form.firstName) }}
					</div>
					<div class="col">
						{{ form_widget(form.lastName) }}
					</div>
				</div>
		    </div>
		    
		    <div class="card bg-light p-2 mb-4">
		    	<div class="row no-gutters mb-4">
			        <div class="col-12 col-md-2 p-2">
			          <p class="text-uppercase"><b>Personal information:</b></p>
			        </div>
			        <div class="col-12 col-md-8 p-2">
			        	<span class="d-flex flex-row mb-1">
			        		<p class="w-25">E-mail: </p>{{ form_widget(form.email)}}
			        	</span>
			        	<span class="d-flex flex-row mb-1">
			        		<p class="w-25">Telephone: </p>{{ form_widget(form.tel)}}
			        	</span>
			        	<br>
			        	<span class="d-flex flex-row mb-1">
			        		<p class="w-25">Date of birth: </p>{{ form_widget(form.birth)}}
			        	</span>
			        	<span class="d-flex flex-row mb-1">
			        		<p class="w-25">Nationality: </p>{{ form_widget(form.nation)}}
			        	</span>

			        	<div class="custom-control custom-switch">
			        		{{ form_widget(form.hasJob)}}
			        		{{ form_label(form.hasJob, 'Job', {
				        		'label_attr': {'class': 'custom-control-label'}
				        	}) }}
				        </div>
			        </div>
			        <div class="col-12 col-md-2 p-2 d-none d-md-block">
			        	<img src="{{ asset('img/profile_pictures/' ~ user.image) }}" class="img-fluid">
			        	<div class="custom-file w-100 mt-2">
			    			{{ form_widget(form.imageFile)}}
			    			{{ form_label(form.imageFile, 'Photo', {
				        		'label_attr': {'class': 'custom-file-label'}
				        	}) }}
			    		</div>
			        </div>
			    </div>
			    <div class="row no-gutters mb-4">
			    	<div class="col-12 col-md-8 p-2 mx-auto">
			    		{{ form_widget(form.descr)}}
			    	</div>
			    </div>

			    <div class="row no-gutters mb-4">
			        <div class="col-12 col-md-2 p-2">
			          <p class="text-uppercase"><b>Course:</b></p>
			        </div>
			        <div class="col-12 col-md-8 p-2">
			        	<span class="d-flex flex-row mb-1">
			        		<p class="w-25">Course/es: </p>{{ form_widget(form.course)}}
			        	</span>
			        	<span class="d-flex flex-row mb-1">
			        		<p class="w-25">Other skills: </p>{{ form_widget(form.skills)}}
			        	</span>
			        	<span class="d-flex flex-row mb-1">
			        		<p class="w-25">Github repository: </p>{{ form_widget(form.github)}}
			        	</span>
			        </div>
			        
			        <div class="col-12 col-md-2 p-2">
			        	{{ form_widget(form.save)}}
			        </div>
			    </div>
			</div>

		{{ form_end(form) }}
	{% endif %}

<script>
	// Add the following code if you want the name of the file appear on select
	$(".custom-file-input").on("change", function() {
	  var fileName = $(this).val().split("\\").pop();
	  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
</script>
{% endblock %}
