{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-3 mb-5">{{ post.title }}</h1>
    <div class="row m-0 text-muted">
        <p class="mr-3">Created by 
        {% if post.author.image is not null %}
            <img src="{{ asset('img/profile_pictures/' ~ post.author.image) }}" class='thumbnail'> 
        {% else %}
            <i class='fas fa-user'></i>
        {% endif %} {{ post.author }}</p>
        {{ include('pages/_post_tags.html.twig') }}
        <span class="ml-auto"><i class="fa fa-calendar"></i> {{ post.createdAt | date('j. F Y H:m')}} </span>
    </div>
    {% if (post.picture) %}
        <img src="{{ asset('img/post_pictures/' ~ post.picture) }}" class='img-thumbnail'>
    {% endif %}
    <p>{{ post.content }}</p>
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(controller('App\\Controller\\IndexController::commentForm', {'id': post.id})) }}
        {% else %}
            <p>
                <a class="btn btn-success" href="{{ path('app_login', {'redirect_to': app.request.pathInfo}) }}">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                </a>
                You need to be signed in to post a comment!
            </p>
{% endif %}

    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i> {{ post.comments|length }}
    </h3>

    <div class="commentcolor">
    {% for comment in post.comments %}
        <div class="row post-comment">
            <a href="/alumni/profile={{comment.author.id}}">
            <p class="col-sm-3">
                {% if comment.author.image is not null %}
            <img src="{{ asset('img/profile_pictures/' ~ comment.author.image) }}" class='comment-thumbnail'>
        {% else %}
            <i class='fas fa-user'></i>
        {% endif %} <strong> {{ comment.author }} </strong></a>
            <br><br>    {{ comment.createdAt| date('j. F Y H:m') }}
            </p>
            <div class="col-sm-9">
                {{ comment.content }}
            </div>
        </div>
    {% else %}
        <div class="post-comment">
            <p>No comments.</p>
        </div>
    {% endfor %}
    </div>

<style>
.comment-thumbnail {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    box-shadow: 1px 2px 3px rgba(0.3,0.3,0.3,0.5); 
}

.img-thumbnail {
    max-height: 50vh;
}

.commentcolor div:nth-child(even) {
    background: #e0e0e0;
}

.post-comment {
    min-height: 10vh;
    padding: 1em;
}
</style>

{% endblock %}


