{% extends 'base.html.twig' %}

{% block title %}Home | Alumni Association of the {{school}}{% endblock %}

{% block main %}
    <div class="card bg-light mb-3">
        <h5 class="card-title text-center">Welcome to the PASF Alumni Association webpage!</h5>
        <br>
        <p class="card-text text-center">Here you can find news about the exciting events that we organize, interesting successfull stories of our students and even job opportunities! <br>Log in to discover what we can do for you or just visit our pages to stay updated.</p>
    </div>

    <div class="container appear">
        <div class="card-columns text-center">
            
            <div class="card event">
                <img class="card-img-top" src="{{asset('img/event3bis.jpg')}}" alt="Card image">
            </div>

            <div class="card text-white text-center p-3 alumni" style="background-color:#3CB521;" >
                <blockquote class="blockquote mb-0">
                    <p>Everybody can code!</p>
                    <footer class="blockquote-footer">
                        <small>  motto of the school  </small>
                    </footer>
                </blockquote>
            </div>


    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class="mb-4 p-3">
                <h2>
                    <a href="{{ path('showPost', {slug: post.slug}) }}">
                        {{ post.title }}
                    </a>
                </h2>
                <p>{{ post.content[:80] ~ '...' }}</p>  
                <div class="row m-0 text-muted">
                    <p class="mr-3">Created by {% if post.author.image is not null %}
            <img src="{{ asset('img/profile_pictures/' ~ post.author.image) }}" class='thumbnail'> 
        {% else %}
            <i class='fas fa-user'></i>
        {% endif %} {{ post.author }}</p>
                    {{ include('pages/_post_tags.html.twig') }}
                    <span class="ml-auto"><i class="fa fa-calendar"></i> {{ post.createdAt | date('j. F Y H:m')}} </span>
                </div>
            </div>
        {% endfor %}
        
        {% else %}
        There are no Posts
    {% endif %}
    
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ include('inc/sidebar.html.twig') }}
{% endblock %}