{% extends 'base.html.twig' %}

{% block title %}Home | PASF Alumni Association{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid" style="background-image: url(img/cancode.jpg);background-size: cover; background-repeat: no-repeat;">
        <div class="container p-3" >
            <h1 class="display-4 d-none d-md-block text-white text-center">Welcome to</h1>
            <h2 class="display-3 d-none d-md-block text-white text-center">PASF Alumni Association</h2>
            <h1 class="d-md-none text-white text-center">Welcome</h1>
            <h2 class="d-md-none text-white text-center">PASF Alumni Association</h2>
            <div class="row">
                <div class="col-7 p-3 mx-3" style="background-color: rgba(0,0,0, 0.5)">
                    <p class=" text-white">Here you can find news about the exciting <span><a href="/events" class="text-light">events</a></span> that we organize,<br> interesting successfull <span><a href="/stories" class="text-light">stories</a></span> of our students and even <span><a href="/careers" class="text-light">job</a></span> opportunities!<br><span><a href="/login" class="text-light">Log in</a></span> to discover what we can do for you or just visit our pages to stay updated.</p>
                </div>                
            </div>            
        </div>
    </div>
    
    <div class="row p-3 appear">
        {# PLACE FOR STORIES #}
        <div class="col-12 col-sm-6 col-md-4 p-2">            
            {% if posts|length > 1 %}
                {% for post in posts|slice(0, 2) %}
                    {# START of Cards #}
                    {{ include('inc/card_post.html.twig') }}
                    {# END #}
                {% endfor %}
            {% else %}
                {# If there is not enought posts there would be the banner #}
                <div class="card event">
                    <img class="card-img-top" src="{{asset('img/event1.jpg')}}" alt="Card image">
                </div>
            {% endif %}
        </div>
        {# CENTRAL COLUMN WITH STATIC CONTENT #}
        <div class="col-md-4 p-2 d-none d-md-block">
            {# MOTTO Part #}
            <div class="card text-white text-center p-2 mb-2" style="background-color:#3CB521;" >
                <blockquote class="blockquote mb-0">
                    <p>Everybody can code!</p>
                    <footer class="blockquote-footer">
                        <small>  motto of the school  </small>
                    </footer>
                </blockquote>
            </div>
            {# LOGO Part #}
            <div class="card mb-2">
                <img class="card-img-top" src="{{asset('img/AlumniLogoTras.png')}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Discover more about our Association!</h5>
                    <p class="card-text">Do you know what PASF stands for?</p>
                </div>
            </div>
            {# Headline Part #}
            <div class="card text-white text-center p-2" style="background-color: #3CB521;" >
                <blockquote class="blockquote mb-0">
                    <p>Shoot for the moon. Even if you miss, you'll land among the stars.</p>
                    <footer class="blockquote-footer">
                        <small>  One of our students  </small>
                    </footer>
                </blockquote>
            </div>
        </div>        
        {# PLACE FOR EVENTS #}
        <div class="col-12 col-sm-6 col-md-4 p-2">
            {% if posts|length > 3 %}
                {% for post in posts|slice(2, 2) %}
                    {# START #}
                    {{ include('inc/card_post.html.twig') }}
                    {# END #}
                {% endfor %}
            {% else %}
                {# If there is not enought posts there would be the banner #}
                <div class="card event">
                    <img class="card-img-top" src="{{asset('img/event2.jpg')}}" alt="Card image">
                </div>
            {% endif %}

        </div>
    </div>

    {#

    {% if posts|length > 0 %}
                {% for post in posts|slice(0, 4)%}
                    <div class="mb-4 p-3">
                        <h2>
                            <a href="{{ path('showPost', {slug: post.slug}) }}">
                                {{ post.title }}
                            </a>
                        </h2>
                        <p>{{ post.content[:80] ~ '...' }}</p>  
                        <div class="row m-0 text-muted">
                            <p class="mr-3">Created by <i class="fa fa-user"></i> {{ post.author }}</p>
                            {{ include('pages/_post_tags.html.twig') }}
                            <span class="ml-auto"><i class="fa fa-calendar"></i> {{ post.createdAt | date('j. F Y H:m')}} </span>
                        </div>
                    </div>
                {% endfor %}
                
            {% else %}
                <h4>There are no Posts</h4>
            {% endif %}
    #}

{% endblock %}

{#
{% block sidebar %}
    {{ include('inc/sidebar.html.twig') }}
{% endblock %}
#}