{% for tag in post.tags %}
    {% if tag.name == 'Story' %}

        {# STORY CARD #}        
        <div class='card story mb-2'>
            {% if (post.picture) %}
                <img class="card-img-top" src="{{ asset('img/post_pictures/' ~ post.picture) }}" alt="Card image">
            {% else %}
                <img class="card-img-top" src="{{ asset('img/avatar1') }}" alt="Card image">
            {% endif %}
            <div class='show'>
                <div class='stripe_title'>{{ post.title }}</div>
                <div class='stripe_subtitle'>
                    <a class="btn btn-link stretched-link text-white" href='{{ path('showPost', {slug: post.slug}) }}' {#style='color:white'#}>Want to know more?</a>
                </div>
            </div>
        </div>
    {% else %}
        {% if tag.name == 'Event' %}

            {# EVENT CARD #}
            <div class='card event mb-2'>
                {% if (post.picture) %}
                    <img class="card-img-top" src="{{ asset('img/post_pictures/' ~ post.picture) }}" alt="Card image">
                {% endif %}
                <div class='card-img-overlay text-center p-4 d-flex flex-column'>
                    <h4 class='card-title title-bg text-white' <b>{{ post.title }}</b></h4>
                    {% for tag in post.tags %}<span class='span-card text-white badge mb-1 trans'>
                <i class="fa fa-tag"></i> {{ tag.name }} </span>{% endfor %}
                    <a href='{{ path('showPost', {slug: post.slug}) }}' class='stretched-link'>
                        {#<span>See more</span>#}
                    </a>
                </div>
            </div>
        {% else %}

            {# CAREER CARD #}
            <div class='card career hvr-buzz-out mb-2'>
                {% if (post.picture) %}
                    <img class="card-img-top" src="{{ asset('img/post_pictures/' ~ post.picture) }}" alt="Card image">
                {% endif %}
                <div class='card-body text-center'>
                    <h4 class='card-title' <b>{{ post.title }}</b></h4>
                    {% for tag in post.tags %}<span class='span-card text-white badge mb-1 trans'>
                <i class="fa fa-tag"></i> {{ tag.name }} </span>{% endfor %}
                    <a href='{{ path('showPost', {slug: post.slug}) }}' class='stretched-link'>
                        {#<span>See more</span>#}
                    </a>
                </div>
            </div> 
        {% endif %}
    {% endif %}
{% endfor %}